.dev-cabecalho {
  background-color: #153F4A;
  display: flex;
  align-items: center;
  position: relative; 
  padding: 8px 25px;
}


.logo-dev-cabecalho {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-cabecalho-dev {
  width: 90px; 
  height: 80px;
}

.nav-dev-cabecalho {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-dev-cabecalho a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.nav-dev-cabecalho a:hover {
  opacity: 0.8;
}
