
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden; 
  width: 100%;
}

.blog-container-geral {
  background-color: #f5f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.inito{
  margin-top: 50px;
  color: #2FBFD8;
}
.blog-container-geral header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  background-color: #00a8e8;
  color: white;
  font-weight: 600;
}


.blog-container {
  width: 70%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 3rem auto;
}
.it{
margin-right: 550px;}
.intro {
  text-align: center;
  margin-bottom: 1rem;

  .titulo-blog {
    font-size: 2.3rem;
    font-weight: 700;
    color: #0076ce;
    margin-bottom: 0.4rem;
  }

  .subtitulo-blog {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000000;
    margin-top: -0.3rem;
    text-align: start;
  }
}


.post {
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 18px;
  padding: 22px 28px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  height: 155px; 

  &:hover {
    transform: scale(1.01);
  }

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;


    h3 {
      font-size: 1rem;
      font-weight: 700;
      color: #111;
    }

    p {
      font-size: 0.9rem;
      color: #333;
      line-height: 1.4;
    }

    .btn {
      font-size: 0.85rem;
      font-weight: 600;
      color: #0044ff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.verde {
  background-color: #c9f3e0;
}

.azul {
  background-color: #cfe4ff;
}

.amarelo {
  background-color: #fff5b5;
}

.vermelho {
  background-color: #ffcdc9;
}

.onda-separadora {
  position: relative;
  width: 100%;
  line-height: 0;
  overflow: hidden;
  z-index: 1;

  svg {
    display: block;
    width: 100%;
    height: 180px;
    position: relative;
  }

  &.azul path {
    fill: #d8ebff; 
  }
}

.azulzinho {
  color: #2fbfd8; 
}


.laranja {
  background-color: #ffe3b4;
}

.azul-claro {
  background-color: #dbe8ff;
}

.roxo {
  background-color: #dcd6ff;
}



@media (max-width: 768px) {
  .blog-container {
    width: 90%;
  }

  .post {
    flex-direction: column;
    height: auto;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}
.post-content-dr{
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;

}
.cigarro{
 color: #000000;
 font-size: 1rem;
      font-weight: 600; 
      text-align: center;  
      margin: 4px;   
}
.post-cinza{
  background-color: #B9B9B9;
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 18px;
  padding: 22px 28px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  height: 155px; 

  &:hover {
    transform: scale(1.01);
  }
  
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
      
  }
  .btn {
    font-size: 0.85rem;
    font-weight: 600;
    color: #0044ff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    h3 {
      font-size: 1rem;
      font-weight: 700;
      color: #111;

    }
  
    
  }
  .gravidez{
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;  
  margin: 8px;
  }
  
  .melatonina{
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;  
  margin: 8px;
  }
 .titulo-dr-responde{
  font-size: 2.3rem;
  font-weight: 700;
  color: #ff0000;
  margin-bottom: 0.4rem;

 
 }


 
}